@import "tailwindcss";
@import 'swiper/css';
@import 'swiper/css/pagination';
@import 'swiper/css/navigation';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Poppins,sans-serif;
}


.navbar {
  position: absolute;
  left: 0;
  top: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  background: transparent;
  border-bottom: 2px solid transparent;
  z-index: 999;
  min-height: 80px
}

.navbar .icon-bar {
  color: #fff
}

.navbar .navbar-nav .nav-link {
  font-size: 12px;
  font-weight: 500;
  color: #fff;
  padding: 15px 7px;
  margin: 10px 15px
}

.container {
  max-width: 1200px;
}
.btn {
  background-color: transparent !important;
  border-radius: 10px !important;
  padding: 15px 35px !important;
  box-shadow: 0 4px 15px rgba(192, 255, 114, 0.4), 0 4px 15px rgba(140, 82, 254, 0.4) !important;

}

.Nav-btn-light {
  color: #000 !important;

}

.Nav-btn-dark {

  color: #ffffff !important;
}

.slider {
  position: relative
}

.slider.fixed-slider {
  position: fixed;
  top: 0;
  left: 0;
  right: 0
}

.slider .swiper-slide-active {
  z-index: 3
}

.slider .parallax-slider {
  position: relative
}

.slider .parallax-slider .swiper-slide {
  position: relative;
  overflow: hidden;
  width: 100%;
  min-height: 100vh;
  padding-bottom: 50px
}

.slider .parallax-slider .swiper-slide .bg-img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover
}

.slider .parallax-slider .swiper-slide-active .caption h1[data-splitting] {
  transition: all 0s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0)
}

.slider .parallax-slider .swiper-slide-active .caption h1[data-splitting] .char {
  -webkit-animation: fadeInUp .5s cubic-bezier(.3,0,.7,1) both;
  animation: fadeInUp .5s cubic-bezier(.3,0,.7,1) both;
  -webkit-animation-delay: calc(60ms*var(--char-index));
  animation-delay: calc(60ms*var(--char-index))
}

.slider .parallax-slider .swiper-slide-active .caption .butn,.slider .parallax-slider .swiper-slide-active .caption .thin,.slider .parallax-slider .swiper-slide-active .caption h1,.slider .parallax-slider .swiper-slide-active .caption p {
  opacity: 1;
  visibility: visible;
  transform: translateY(0)
}

.slider .parallax-slider .caption .thin {
  color: #12c2e9;
  font-size: 30px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 5px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all .4s;
  transition-delay: .8s
}

.slider .parallax-slider .caption .thin span {
  color: #12c2e9
}

.slider .parallax-slider .caption h1 {
  font-size: 65px;
  font-weight: 800;
  letter-spacing: 2px;
  color: #fff;
  opacity: 0;
  transform: translateY(20px);
  visibility: hidden;
  transition: all .4s;
  transition-delay: .3s
}

.slider .parallax-slider .caption p {
  color: #eee;
  margin-top: 15px;
  opacity: 0;
  transform: translateY(20px);
  transition: all .4s;
  transition-delay: .8s
}

.slider .parallax-slider .caption .butn {
  opacity: 0;
  transform: translateY(20px);
  transition: all .4s;
  transition-delay: 1s
}

.slider .parallax-slider .caption.dig h1 {
  font-weight: 800;
  font-size: 80px;
  text-transform: uppercase
}

.slider .parallax-slider .caption.dig h1 .tline {
  margin-left: 80px
}

.slider .parallax-slider .caption.dig h1 .whitespace {
  width: 20px
}

.slider .setone {
  position: absolute;
  bottom: 8%;
  right: 40px;
  z-index: 8
}

.slider .setone .swiper-nav-ctrl {
  color: #ccc;
  font-size: 13px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  margin: 5px 0;
  border: 1px solid hsla(0,0%,100%,.3);
  position: static
}

.slider .setone .swiper-nav-ctrl:after {
  display: none
}

.slider .setone.setwo {
  position: static
}

.slider .setone.setwo .swiper-nav-ctrl {
  border-radius: 50%
}

.slider .setone.setwo .next-ctrl {
  position: absolute;
  top: 50%;
  right: 30px
}

.slider .setone.setwo .prev-ctrl {
  position: absolute;
  top: 50%;
  left: 30px
}

.slider .txt-botm {
  position: absolute;
  bottom: 20px;
  left: 0;
  width: 100%;
  z-index: 8
}

.slider .txt-botm .swiper-nav-ctrl {
  position: absolute;
  width: auto;
  height: auto;
  margin-top: auto;
  top: auto;
  bottom: 0
}

.slider .txt-botm .swiper-nav-ctrl i {
  color: #ccc;
  font-size: 13px;
  width: 45px;
  height: 45px;
  line-height: 45px;
  text-align: center;
  margin: 0;
  border-radius: 50%;
  display: inline-block;
  transition: all .3s
}

.slider .txt-botm .swiper-nav-ctrl span {
  font-weight: 500;
  font-size: 12px;
  color: #fff
}

.slider .txt-botm .swiper-nav-ctrl:after {
  display: none
}

.slider .txt-botm .swiper-nav-ctrl.swiper-button-next {
  right: 40px
}

.slider .txt-botm .swiper-nav-ctrl.swiper-button-next i {
  margin-left: 10px
}

.slider .txt-botm .swiper-nav-ctrl.swiper-button-prev {
  left: 40px
}

.slider .txt-botm .swiper-nav-ctrl.swiper-button-prev i {
  margin-right: 10px
}

.slider .txt-botm .swiper-nav-ctrl:hover i {
  border: 1px solid hsla(0,0%,100%,.3)
}

.slider .swiper-pagination-fraction.top {
  position: absolute;
  right: 15%;
  left: auto;
  bottom: auto;
  top: 20%;
  width: auto;
  color: #fff;
  font-size: 40px;
  font-weight: 500
}

.slider .swiper-pagination-fraction.top .swiper-pagination-current {
  font-size: 60px;
  font-weight: 700;
  position: relative;
  color: transparent;
  -webkit-text-stroke: .5px #fff
}

.slider .swiper-pagination-fraction.top .swiper-pagination-current:after {
  content: "/";
  color: #fff;
  position: relative;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 100
}

.slider .swiper-pagination-fraction.top.botm {
  top: auto;
  bottom: 40px;
  right: 40px
}

.slider .swiper-pagination-fraction.steps {
  position: absolute;
  width: 100px;
  color: #fff;
  font-size: 15px;
  bottom: 40px;
  left: calc(50% - 50px);
  right: auto;
  top: auto;
  text-align: left
}

.slider .swiper-pagination-fraction.steps:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 15%;
  width: 70%;
  height: 1px;
  background: hsla(0,0%,100%,.3)
}

.slider .swiper-pagination-fraction.steps .swiper-pagination-total {
  float: right
}

.slider .social-icon {
  position: absolute;
  left: 40px;
  bottom: 40px;
  z-index: 8
}

.slider .social-icon a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid hsla(0,0%,100%,.05);
  color: #fff;
  font-size: 13px
}

.slider-st {
  min-height: 100vh;
  padding: 120px 0
}

.slider-st .img {
  position: relative
}

.slider-st .img:after {
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59)
}

.slider-st .img:after,.slider-st .img:before {
  content: "";
  position: absolute;
  border-radius: 15px;
  transform: rotate(-3deg)
}

.slider-st .img:before {
  top: -15px;
  left: -15px;
  right: -15px;
  bottom: -15px;
  background: #fff;
  opacity: .08
}

.slider-st .img img {
  border-radius: 15px;
  transform: rotate(3deg);
  position: relative;
  z-index: 2
}

.slider-stwo {
  min-height: 100vh;
  position: relative;
  padding: 120px 0
}

.slider-stwo:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: #18191d;
  z-index: -1
}

.slider-stwo .img {
  padding-right: 30px
}

.slider-stwo .img img {
  border-radius: 10px;
  box-shadow: 0 10px 30px hsla(0,0%,100%,.05)
}

.slider-stwo ul {
  margin: 30px 0 0;
  display: flex
}

.slider-stwo ul li {
  display: inline-block
}

.slider-stwo ul li div {
  display: table-cell
}

.slider-stwo ul li .icon {
  width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  position: relative;
  font-size: 20px
}

.slider-stwo ul li .icon .bord {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.slider-stwo ul li .icon .bord:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #111215;
  border-radius: 5px;
  z-index: -1
}

.slider-stwo ul li .icon .bord:before {
  content: "";
  position: absolute;
  top: -1px;
  left: -1px;
  bottom: -1px;
  right: -1px;
  border-radius: 5px;
  background: linear-gradient(90deg,#12c2e9,#c471ed,#f64f59);
  z-index: -2
}

.slider-stwo ul li .cont {
  display: table-cell;
  vertical-align: middle;
  padding-left: 15px
}

.slider-stwo ul li .cont p {
  font-size: 13px;
  margin-top: 5px
}

.particles {
  min-height: 100vh;
  position: relative;
  z-index: 2;
  overflow: hidden
}

.particles .cont h1 {
  font-size: 90px;
  font-weight: 800
}

.particles .animation-wrapper {
  opacity: .5
}

.freelancre {
  min-height: 100vh;
  padding: 100px 0;
  position: relative;
  overflow: hidden
}

.freelancre:after {
  content: "";
  width: 140%;
  background: hsla(0,0%,100%,.01);
  height: 100%;
  transform: rotate(15deg);
  position: absolute;
  top: -40%;
  left: -20%;
  z-index: -1
}

.freelancre .img {
  position: relative;
  width: 280px;
  height: 280px;
  border-radius: 50%;
  z-index: 2
}

.freelancre .img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  border-radius: 50%
}

.freelancre .img:after {
  content: "";
  background: linear-gradient(270deg,#12c2e9,#c471ed,#f64f59);
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  border-radius: 50%;
  z-index: -1
}

.freelancre .cont h1 {
  font-size: 35px
}

.freelancre .states {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-bottom: 50px
}

.freelancre .states .flex {
  display: flex
}

.freelancre .states ul {
  margin: 0
}

.freelancre .states li {
  margin-right: 100px
}

.freelancre .states li:last-of-type {
  margin-right: 0
}

.freelancre .states li h3 {
  font-size: 50px;
  font-weight: 400;
  margin-right: 20px
}

.freelancre .states li p {
  font-size: 12px;
  text-transform: uppercase
}

.freelancre .states .mail-us {
  margin-left: auto
}

.freelancre .states .mail-us .text {
  text-align: right;
  padding-right: 20px
}

.freelancre .states .mail-us .text h6 {
  font-size: 14px;
  margin-top: 5px
}

.freelancre .states .mail-us .icon-box {
  width: 60px;
  height: 60px;
  line-height: 65px;
  text-align: center;
  border-radius: 5px;
  background: linear-gradient(126.47deg,#18191d 6.69%,rgba(4,4,5,.1) 85.43%);
  font-size: 30px
}

.slider-bus {
  min-height: 100vh;
  position: relative
}

.slider-bus .swiper-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%
}

.slider-bus .setone {
  position: absolute;
  bottom: 8%;
  right: 40px;
  z-index: 8
}

.slider-bus .setone .swiper-nav-ctrl {
  color: #ccc;
  font-size: 13px;
  width: 55px;
  height: 55px;
  line-height: 55px;
  text-align: center;
  margin: 5px 0;
  border: 1px solid hsla(0,0%,100%,.3);
  position: static
}

.slider-bus .setone .swiper-nav-ctrl:after {
  display: none
}

.slider-bus .setone.setwo {
  position: static
}

.slider-bus .setone.setwo .swiper-nav-ctrl {
  border-radius: 50%
}

.slider-bus .setone.setwo .next-ctrl {
  position: absolute;
  top: 50%;
  right: 30px
}

.slider-bus .setone.setwo .prev-ctrl {
  position: absolute;
  top: 50%;
  left: 30px
}

.slider-bus .swiper-pagination-fraction {
  position: absolute;
  right: auto;
  left: 60px;
  bottom: 30px;
  width: auto;
  color: #fff;
  font-size: 40px;
  font-weight: 500
}

.slider-bus .swiper-pagination-fraction .swiper-pagination-current {
  font-size: 60px;
  font-weight: 700;
  position: relative;
  color: transparent;
  -webkit-text-stroke: .5px #fff
}

.slider-bus .swiper-pagination-fraction .swiper-pagination-current:after {
  content: "/";
  color: #fff;
  position: relative;
  margin: 0 10px;
  font-size: 12px;
  font-weight: 100
}

.slider-bus .swiper-slide-active .caption h1 {
  transition: all 0s;
  opacity: 1;
  visibility: visible;
  transform: translateY(0)
}

.slider-bus .swiper-slide-active .caption h1 .char {
  -webkit-animation: fadeInUp .5s cubic-bezier(.3,0,.7,1) both;
  animation: fadeInUp .5s cubic-bezier(.3,0,.7,1) both;
  -webkit-animation-delay: calc(60ms*var(--char-index));
  animation-delay: calc(60ms*var(--char-index))
}

.slider-bus .swiper-slide-active .caption .butn,.slider-bus .swiper-slide-active .caption .simple-btn,.slider-bus .swiper-slide-active .caption .thin,.slider-bus .swiper-slide-active .caption p {
  opacity: 1;
  transform: translateY(0)
}

.slider-bus .caption .thin {
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 8px;
  margin-bottom: 5px;
  opacity: 0;
  transform: translateY(-20px);
  transition: all .4s;
  transition-delay: .8s
}

.slider-bus .caption h1 {
  font-size: 90px;
  font-weight: 800;
  letter-spacing: 4px;
  color: #fff;
  opacity: 0;
  visibility: hidden;
  transition: opacity .5s,visibility .5s
}

.slider-bus .caption p {
  color: #eee;
  opacity: 0;
  transform: translateY(20px);
  transition: all .4s;
  transition-delay: .8s
}

.slider-bus .caption .butn,.slider-bus .caption .simple-btn {
  opacity: 0;
  transform: translateY(20px);
  transition: all .4s;
  transition-delay: 1s
}

.slider-bus .ontop {
  position: relative;
  z-index: 5
}
/* .circle-color {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%;
}

.gradient-circle {
  position: absolute;
  left: -250px;
  top: 250px;
  right: auto;
  bottom: auto;
  z-index: -1;
  width: 500px;
  height: 500px;
  border-radius: 70%;
  background-image: linear-gradient(45deg, #059dff, #36c6f0);
  opacity: .25;
  filter: blur(100px);
}

.gradient-circle.two {
  left: auto;
  top: -250px;
  right: -250px;
  bottom: auto;
  background-image: linear-gradient(45deg, #fb5343, #6549d5);
} */

.circle-color {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100%;
  pointer-events: none;
  z-index: -1;
  mask-image: linear-gradient(to bottom, black 60%, transparent);
}

.gradient-circle {
  position: absolute;
  left: -250px;
  top: 250px;
  width: 500px;
  height: 500px;
  border-radius: 70%;
  background-image: linear-gradient(45deg, #059dff, #36c6f0);
  opacity: 0.25;
  filter: blur(100px);
}

.gradient-circle.two {
  left: auto;
  top: -250px;
  right: -250px;
  background-image: linear-gradient(45deg, #fb5343, #6549d5);
}

.color-font {
  background: -webkit-gradient(linear, left top, right top, from(#12c2e9), color-stop(#c471ed), to(#f64f59));
  background: -webkit-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: -o-linear-gradient(left, #12c2e9, #c471ed, #f64f59);
  background: linear-gradient(to right, #12c2e9, #c471ed, #f64f59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.butn {
  padding: 15px 35px;
  font-size: 13px;
  border: 1px solid transparent;
  transition: all .4s
}

.butn:hover .char {
  -webkit-animation: fadeInUp .3s cubic-bezier(.3,0,.7,1) both;
  animation: fadeInUp .3s cubic-bezier(.3,0,.7,1) both;
  -webkit-animation-delay: calc(30ms*var(--char-index));
  animation-delay: calc(30ms*var(--char-index))
}

.butn.bord {
  border: 1px solid #fff
}